<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title> Codecool Quest Store </title>
    <meta name="description" content="Codecool Quest Storeo"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>
<header>
    <img class="logo" src="../static/img/cc.png">
    <h1>
        Quest Store
    </h1>
    <div class="user-holder">
        <h2 th:text="${user.name}" class="user-name">
            Jan Kowalski
        </h2>
        <div id = "logout-button">
            Log out
        </div>

    </div>
</header>
<div id="sidebar-content-container">
    <nav id="sidebar">
        <ul>
            <li class="category">
                <span>Mentors</span>
            </li>
            <li class="option">
                <span>Show mentors</span>
            </li>
            <li class="option">
                <span>Create mentor</span>
            </li>
            <li class="option">
                <span>Edit mentor data</span>
            </li>
        </ul>
        <ul>
            <li class="category">
                <span>Class</span>
            </li>
            <li class="option">
                <span>Show classes</span>
            </li>
            <li class="option">
                <span>Create class</span>
            </li>
            <li class="option">
                <span>Edit class data</span>
            </li>
        </ul>
        <ul>
            <li class="category">
                <span>Level</span>
            </li>
            <li class="option">
                <span>Show levels</span>
            </li>
            <li class="option">
                <span>Create level</span>
            </li>
            <li class="option">
                <span>Edit level data</span>
            </li>
        </ul>
    </nav>
    <div class = "content-box">
        <div class="status-bar">
            <h3>Mentor -> Show mentors<h3>
        </div>
        <div id="table">
            <table>
                <thead>
                <tr>
                    <th scope="col" id="id">ID</th>
                    <th scope="col" id="first-name">First Name</th>
                    <th scope="col" id="last-name">Last Name</th>
                    <th scope="col" id="e-mail">e - mail</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mentor : ${mentorsList}">
                    <td th:text="${mentorStat.count}">1</td>
                    <td th:text="${mentor.name}">Adam</td>
                    <td th:text="${mentor.surname}">Nowak</td>
                    <td th:text="${mentor.email}">example@gmail.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <h2>Code Cool Masters &copy; All rights reserved!</h2>
</footer>
</body>
</html>