body
{
    background-color: #ffffff;
}

a
{
    text-decoration: none;
}


#header-container
{
    height: 20%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

#logo
{
    height: 80px;
    width: 80px;
}

#header-text
{
    display: flex;
    align-items: center;
}

header
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 40px;
    color: white;
}

#user-name-logout
{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#user-name
{
    font-size: 40px;
}

#log-out-button
{
    display: flex;
    margin: 10px 0px 10px 20px;
    padding: 0px 20px;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    align-items: center;
    background-color: white;
}

#log-out-button:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}



#sidebar-content-container
{
    /*flex-wrap: wrap;*/
    display: flex;
    flex-direction: row;
}

#sidebar
{
    flex: 15%;
    color: #998e90;
    text-align: left;
    min-width: 150px;
}

#content
{
    flex: 85%;
    padding: 3%;
    flex-grow: 1;
}


.category
{
    background-color: #DEC8C1;
    font-size: 25px;
    padding: 10px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    border-radius: 5px;
}

.option
{
    background-color: #DEC8C1;
    font-size: 20px;
    padding: 10px;
    opacity: 0.8;
    border-radius: 5px;
}

.option:hover
{
    background-color: #00AEEE;
    cursor: pointer;
}

.solidline
{
    border-bottom: 1px solid white;
}

#footer-container
{
    align-items: center;
    display: flex;
    height: 50px;
    border-radius: 5px;
}

footer
{
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
/*
-----------------------------------
Colors
-----------------------------------
 */

.main-color{
    background-color: #BCB1B3;
}