<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="show-class-to-delete" class = "content-box">
    <div class="status-bar">
        <h3>Mentor -> Delete mentor<h3>
    </div>
    <div class="show-data">
        <div class="info">
            <span>Class name:</span><span th:text="${class.name}"></span>
            <span>Are you sure you want to delete this class?</span>
            <div class="options-buttons">
                <form method="POST">
                    <div class="button">
                        <a th:href="${'/classes/delete/' + class.id}">
                            <input type="submit" value="Delete"/>
                        </a>
                    </div>
                </form>
                <div class="button">
                    <a href="/classes">
                        <input type="submit" value="Back"/>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>