<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="show-mentors" class = "content-box">
        <div class="status-bar">
            <h3>Mentor -> Show mentors<h3>
        </div>
        <div id="table">
            <table>
                <thead>
                <tr>
                    <th scope="col" id="id">ID</th>
                    <th scope="col" id="first-name">First Name</th>
                    <th scope="col" id="last-name">Last Name</th>
                    <th scope="col" id="e-mail">e - mail</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mentor : ${mentorsList}">
                    <td th:text="${mentorStat.count}">1</td>
                    <td th:text="${mentor.name}">Adam</td>
                    <td th:text="${mentor.surname}">Nowak</td>
                    <td th:text="${mentor.email}">example@gmail.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>