<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="create-artifact" class = "content-box">
        <div class="status-bar">
            <p id="test">Mentor -> Create artifact</p>
        </div>
        <form method="POST">
            <div class="form">
                Name:
                <input type="text" name="name" placeholder="exampleName" required/>

                Description:
                <input type="text" name="description" placeholder="example description" required/>

                Cost:
                <input type="text" name="cost" placeholder="100" required/>

                Team quest:
                <input type="checkbox" name="isGroup" value="true"/>

                <div class="button">
                    <input type="submit" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>