<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="edit-quest" class = "content-box">
        <div class="status-bar">
            <p id="test">Mentor -> Edit quest data</p>
        </div>
        <form method="POST">

            <br/></br>Name:
            </br> <input type="text" name="name" th:value="${quest.name}" required/>

            </br>Description:
            </br> <input type="text" name="description" th:value="${quest.description}" required/>

            </br>Coin reward:
            </br> <input type="text" name="coinReward" th:value="${quest.coinReward}" required/>

            </br>Team quest:
            </br> <input type="checkbox" name="isGroup" value="true"/>

            <div class="button">
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</body>
</html>