<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="edit-student" class="content-box">
        <div class="status-bar">
            <h3>Mentor -> Edit student data</h3>
        </div>
        <form method="POST">
            <div class="form">
                Fist name:
                <input type="text" name="name" th:value="${student.name}"/>

                Last name:
                <input type="text" name="surname" th:value="${student.surname}"/>

                Email:
                <input type="email" name="email" th:value="${student.email}"/>

                Password:
                <input type="password" name="password" th:value="${student.password}"/>

                Confirm Password:
                <input type="password" th:value="${student.password}"/>

                <div class="button">
                    <input type="submit" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>