<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="mentor-sidebar" id="sidebar">
        <ul>
            <li class="category">
                <span>Student</span>
            </li>
            <a href="/students">
                <li class="option">
                    <span>Menage students</span>
                </li>
            </a>
            <a href="/students/add">
                <li class="option">
                    <span>Create student</span>
                </li>
            </a>
        </ul>
        <ul>
            <li class="category">
                <span>Quest</span>
            </li>
            <a href="/quests">
                <li class="option">
                    <span>Menage quests</span>
                </li>
            </a>
            <a href="/quests/add">
                <li class="option">
                    <span>Create quest</span>
                </li>
            </a>
            <a href="/quests/achiever">
                <li class="option">
                    <span>Add achiever</span>
                </li>
            </a>
        </ul>
        <ul>
            <li class="category">
                <span>Artifact</span>
            </li>
            <a href="/artifacts">
                <li class="option">
                    <span>Menage artifact</span>
                </li>
            </a>
            <a href="/artifacts/add">
                <li class="option">
                    <span>Create artifact</span>
                </li>
            </a>
        </ul>
    </nav>
</body>
</html>