<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="student-sidebar" id="sidebar">
        <ul>
            <li class="category">
                <span>Account Settings</span>
            </li>
            <a href="/account/read">
                <li class="option">
                    <span>Show my data</span>
                </li>
            </a>
            <a href="/account/edit">
                <li class="option">
                    <span>Edit my data</span>
                </li>
            </a>
        </ul>
        <ul>
            <li class="category">
                <span>Quest</span>
            </li>
            <a href="/quests/read">
                <li class="option">
                    <span>Show quests</span>
                </li>
            </a>
            <a href="/quests/achieved">
                <li class="option">
                    <span>Show achieved quests</span>
                </li>
            </a>
        </ul>
        <ul>
            <li class="category">
                <span>Artifact</span>
            </li>
            <a href="/artifacts/read">
                <li class="option">
                    <span>Show artifacts</span>
                </li>
            </a>
            <a href="/artifacts/owned">
                <li class="option">
                    <span>Show my artifacts</span>
                </li>
            </a>
            <li class="category">
                <span>Store</span>
            </li>
            <a href="artifact/buy">
                <li class="option">
                    <span>Buy artifact</span>
                </li>
            </a>
            <li class="option">
                <span>Artifact manager</span>
            </li>
        </ul>
    </nav>
</body>
</html>