<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="student-sidebar" id="sidebar">
        <ul>
            <li class="category">
                <span>Account Settings</span>
            </li>
            <li class="option">
                <span>Show my data</span>
            </li>
            <li class="option">
                <span>Edit my data</span>
            </li>
        </ul>
        <ul>
            <li class="category">
                <span>Quest</span>
            </li>
            <li class="option">
                <span>Show available quests</span>
            </li>
            <li class="option">
                <span>Show achieved quests</span>
            </li>
        </ul>
        <ul>
            <li class="category">
                <span>Artifact</span>
            </li>
            <li class="option">
                <span>Show available artifacts</span>
            </li>
            <li class="option">
                <span>Show my artifacts</span>
            </li>
            <li class="option">
                <span>Buy artifact</span>
            </li>
            <li class="option">
                <span>Artifact manager</span>
            </li>
        </ul>
    </nav>
</body>
</html>