<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Codecool Quest Store </title>
    <meta name="description" content="Codecool Quest Storeo"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="static/css/style.css" type="text/css"/>
</head>
<body>
<div th:fragment="home" class = "content-box">
    <iframe src="https://calendar.google.com/calendar/embed?src=codecool.com_s1gkl8l9rc6dhmg64nbc5n1ftg%40group.calendar.google.com&ctz=Europe/Warsaw" name="iframe-content" width="100%" scrolling="no"></iframe>
</div>
</body>
</html>